---
import { Image } from "astro:assets";
import myImage from "../assets/me.png";
import teamDarkImage from "../assets/team_dark2.svg";
import websiteDarkImage from "../assets/website_dark2.svg";
import teamImage from "../assets/team.svg";
import websiteImage from "../assets/website.svg";
import TechIcons from "../components/TechIcons";
import ThemeIcon from "../components/ThemeIcon.astro";
import iphoneIsometric from "../assets/iphones.png";
---

<html lang="en">
  <head>
    <title>Maximilian Zirps</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  </head>
  <body class="dark:bg-black dark:text-slate-50">
    <div
      class="px-5vw py-9 lg:py-12 container mx-auto p-5 flex flex-row items-center"
    >
      <a class="flex items-center text-gray-900 dark:text-white cursor-pointer">
        <h1 class="text-primary text-2xl">Maximilian Zirps</h1>
      </a>
      <div class="grow flex items-center flex-row-reverse">
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-12"
          >
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
      <div class="hidden md:display">
        <nav
          class="md:ml-auto flex items-center text-base justify-center dark:text-zinc-50"
        >
          <a
            class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
            >Services</a
          >
          <a
            class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
            >Blog</a
          >
          <a
            class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
            >Contact</a
          >
        </nav>
        <div
          class="flex items-center border-l border-slate-200 ml-2 pl-4 dark:border-cyan-200"
        >
          <ThemeIcon />
        </div>
      </div>
    </div>
    <header
      class="md:h-[90vh] flex items-center justify-center lg:text-left bga-[url('/img/iphone2.png')] bg-cover bg-no-repeat
      bg-[center_left_4rem] lg:bg-none p-6 text-center mx-10vw"
    >
      <div
        class="m-auto lg:bg-[url('/img/iphone.png')] bg-contain bg-no-repeat bg-right md:w-[80%] 2xl:w-auto p-2 lg:p-6"
      >
        <Image src={iphoneIsometric} alt="iPhone Mockups" class="py-4" />
        <h2
          class="text-5xl tracking-wide leading-tight mb-6 text-gray-800 md:mb-6 dark:text-white mt-6"
        >
          Turning
          <div class="relative inline-block">
            <span class="font-semibold bg-white dark:bg-transparent"
              >Your Vision</span
            >
            <span
              class="absolute -bottom-1 left-0 h-1 bg-gradient-to-r from-blue-700 to-cyan-300 animate-[expand_400ms_cubic-bezier(0.42,_0,_0.58,_1)_200ms_forwards]"
            ></span>
          </div>
          <br class="xl:hidden" />
          into Reality
        </h2>
        <h2
          class="text-2xl tracking-widest leading-tight text-gray-700 mb-6 dark:text-slate-50 hidden md:display"
        >
          Lightweight. Fast. Adaptable.
        </h2>

        <div class="mt-16 hidden lg:block">
          <a
            href="#contact"
            class="border-black inline-flex items-center border py-2 px-4 rounded-sm text-lg hover:bg-black hover:text-white transition duration-300 dark:border-slate-100 dark:hover:bg-white dark:hover:text-black"
          >
            Let's Get Started
          </a>
        </div>

        <div class="mt-16 md:mt-16">
          <a
            href="#contact"
            class="md:hidden py-6 px-12 rounded-full text-lg font-semibold bg-black text-white"
          >
            Let's Get Started
          </a>
        </div>
      </div>
    </header>
    <section class="m-auto md:w-[80%] 2xl:w-auto p-6 text-center mx-10vw mt-40">
      <div class="lg:w-1/2 mb-6 lg:mb-0">
        <h2 class="text-3xl md:text-2xl mb-2 text-gray-900 dark:text-white">
          What I do
        </h2>
        <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0 dark:bg-cyan-400"></div>
      </div>
      <div class="text-gray-600 mt-24">
        <div class="container px-5 p-6 lg:py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg h-full">
                <Image
                  src={websiteImage}
                  alt="A description of my image."
                  class="h-40 rounded w-full mb-6 dark:hidden mt-[-30%]"
                />
                <Image
                  src={websiteDarkImage}
                  alt="A description of my image."
                  class="h-40 rounded w-full mb-6 dark:block hidden"
                />
                <h2 class="text-lg text-gray-900 font-medium mb-4 text-center">
                  Custom Web Applications
                </h2>
                <p class="leading-relaxed text-base text-justify">
                  I specialize in building dynamic, user-friendly web
                  applications tailored to your unique needs. From front-end
                  interfaces to back-end systems, I create scalable, secure, and
                  high-performance solutions that drive your business forward.
                  Whether you need a new web app or enhancements to an existing
                  one, I deliver reliable, clean code and a seamless user
                  experience.
                </p>
              </div>
            </div>
            <div class="md:w-1/2 p-4 mt-24">
              <div class="bg-gray-100 p-6 rounded-lg h-full">
                <Image
                  src={teamImage}
                  alt="A description of my image."
                  class="h-40 rounded w-full mb-6 dark:hidden mt-[-30%]"
                />
                <Image
                  src={teamDarkImage}
                  alt="A description of my image."
                  class="h-40 rounded w-full mb-6 dark:block hidden"
                />
                <h2 class="text-lg text-gray-900 font-medium mb-4 text-center">
                  Boost Your Team
                </h2>
                <p class="leading-relaxed text-base text-justify">
                  Need to enhance your team's coding productivity and quality? I
                  provide hands-on support to development teams, assisting with
                  writing, optimizing, and debugging code. With expertise in
                  best practices and clean coding, I help your team tackle
                  complex tasks, fix issues faster, and improve overall code
                  quality.
                </p>
              </div>
            </div>
            <div class="p-4 md:w-3/5 mx-auto text-center">
              <div class="p-6 w-full">
                <p class="text-gray-900 mb-2 dark:text-zinc-100">
                  with business-proven tools
                </p>
                <div>
                  <TechIcons classes="size-6 inline mr-2" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="lg:h-screen flex items-center justify-center text-center lg:text-left m-auto md:w-[80%] 2xl:w-auto p-6 text-center mx-10vw mt-40"
    >
      <div class="m-auto md:w-[80%] 2xl:w-auto p-6">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h2 class="text-3xl md:text-2xl mb-2 text-gray-900 dark:text-white">
            Latest Articles
          </h2>
          <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0 dark:bg-cyan-400">
          </div>
        </div>
        <div class="text-gray-600 body-font overflow-hidden">
          <div class="container py-6 md:px-5 md:p-6 lg:py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h3
                    class="text-2xl font-medium text-gray-900 title-font mb-2 dark:text-zinc-50"
                  >
                    10 Essential Tips for Optimizing Web Performance in 2024
                  </h3>
                  <p class="leading-relaxed dark:text-slate-50 text-justify">
                    Discover the latest techniques for speeding up your website
                    and improving user experience in 2024. From lazy loading
                    images to leveraging modern JavaScript frameworks, these 10
                    tips will help you enhance your site's performance and keep
                    your visitors engaged.
                  </p>
                  <a
                    class="text-blue-800 dark:text-cyan-400 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h3
                    class="text-2xl font-medium text-gray-900 title-font mb-2 dark:text-zinc-50"
                  >
                    5 Game-Changing AI Tools Every Developer Should Know About
                    in 2024
                  </h3>
                  <p class="leading-relaxed dark:text-slate-50 text-justify">
                    Artificial Intelligence is transforming the tech landscape,
                    and developers are at the forefront of this revolution. In
                    this article, we explore five AI tools that are set to
                    redefine software development in 2024. From code
                    optimization to AI-driven testing, these tools will help you
                    work smarter, not harder.
                  </p>
                  <a
                    class="text-blue-800 dark:text-cyan-400 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h3
                    class="text-2xl font-medium text-gray-900 title-font mb-2 dark:text-zinc-50"
                  >
                    The Future of 5G: What to Expect in the Next Decade
                  </h3>
                  <p class="leading-relaxed dark:text-slate-50 text-justify">
                    5G is more than just faster internet—it's the backbone of
                    the future's interconnected world. As 5G networks continue
                    to roll out globally, what innovations can we expect in the
                    next decade? This post dives into the potential impact of 5G
                    on everything from smart cities to autonomous vehicles.
                  </p>
                  <a
                    class="text-blue-800 dark:text-cyan-400 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <section
      class="h-screen flex items-center justify-center text-center lg:text-left m-auto md:w-[80%] 2xl:w-auto p-6 text-center mx-10vw mt-40"
    >
      <div class="m-auto md:w-[80%] 2xl:w-auto p-6">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h2 class="text-3xl md:text-2xl mb-2 text-gray-900 dark:text-white">
            Contact
          </h2>
          <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0 dark:bg-cyan-400">
          </div>
        </div>
        <div class="text-gray-600 body-font relative">
          <div class="container py-6 md:px-5 md:p-6 lg:py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
              <Image
                src={myImage}
                alt="A description of my image."
                width={300}
                class="rounded-full m-auto"
                hidden
              />
              <p
                class="lg:w-2/3 mx-auto leading-relaxed text-base dark:text-slate-50 text-justify"
              >
                Your tech journey starts with a message — reach out to explore
                solutions, ask questions, or just get the conversation started!
              </p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
              <div
                class="flex flex-wrap flex-col md:flex-row items-center -m-2"
              >
                <div class="p-2 w-full md:w-1/2">
                  <div class="relative">
                    <label
                      for="name"
                      class="leading-7 text-sm text-gray-600 dark:text-slate-50"
                      >Name</label
                    >
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    />
                  </div>
                </div>
                <div class="p-2 w-full md:w-1/2">
                  <div class="relative">
                    <label
                      for="email"
                      class="leading-7 text-sm text-gray-600 dark:text-slate-50"
                      >Email</label
                    >
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    />
                  </div>
                </div>
                <div class="p-2 w-full">
                  <div class="relative">
                    <label
                      for="message"
                      class="leading-7 text-sm text-gray-600 dark:text-slate-50"
                      >Message</label
                    >
                    <textarea
                      id="message"
                      name="message"
                      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                    ></textarea>
                  </div>
                </div>
                <div class="p-2 w-full">
                  <button
                    class="flex mx-auto text-white dark:bg-cyan-500 bg-blue-700 border-0 py-2 px-8 focus:outline-none hover:bg-blue-800 rounded text-lg"
                    >Send</button
                  >
                </div>
                <div
                  class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"
                >
                  <a class="text-blue-500 dark:text-cyan-400"
                    >example@email.com</a
                  >
                  <p class="leading-normal my-5 dark:text-slate-50">
                    49 Smith St.
                    <br />Saint Cloud, MN 56301
                  </p>
                  <span class="inline-flex">
                    <a class="text-gray-500 dark:text-slate-50">
                      <svg
                        fill="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-5 h-5"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                        ></path>
                      </svg>
                    </a>
                    <a class="ml-4 text-gray-500 dark:text-slate-50">
                      <svg
                        fill="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-5 h-5"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                        ></path>
                      </svg>
                    </a>
                    <a class="ml-4 text-gray-500 dark:text-slate-50">
                      <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-5 h-5"
                        viewBox="0 0 24 24"
                      >
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                        ></rect>
                        <path
                          d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                        ></path>
                      </svg>
                    </a>
                    <a class="ml-4 text-gray-500 dark:text-slate-50">
                      <svg
                        fill="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-5 h-5"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                        ></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</html>
