---
import { Pencil } from "lucide-react";
import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";
import SectionLayout from "./SectionLayout.astro";
import "katex/dist/katex.min.css";
import { Button } from "@/components/ui/button";
const { title, pubDate, heroImage, heroImageDescription, slug } = Astro.props;
---

<style is:global>
  .katex {
    font-size: 1.2rem;
  }
  .remark-code-title {
    @apply font-mono text-zinc-700;
  }

  .astro-code {
    @apply mt-1;
  }
</style>

<MainLayout title={title}>
  <SectionLayout>
    <article class="prose prose-zinc dark:prose-invert max-w-none">
      <div class="text-center">
        <div class="text-zinc-700 text-lg">
          <FormattedDate date={pubDate} />
        </div>
        <h1>{title}</h1>
      </div>
      <div class="my-12">
        {
          heroImage && (
            <img
              src={heroImage}
              alt="Banner for this blog post."
              class="w-full border-2 border-zinc-400 mb-2"
            />
          )
        }
        {
          heroImageDescription && (
            <div class="text-center text-xs text-zinc-400">
              {heroImageDescription}
            </div>
          )
        }
      </div>
      <div>
        <slot />
      </div>
      <p class="flex justify-end pt-12">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={`https://github.com/maxzirps/maxzirps.at/edit/main/src/content/blog/${slug}.md`}
          aria-label="Edit this page on github"
        >
          <Button variant="link"> <Pencil />Edit page</Button></a
        >
      </p>
    </article>
  </SectionLayout>
</MainLayout>
